<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.atomfeed</package>
	<author>Soldevelo developers</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.atomfeed.AtomfeedActivator</activator>

	<require_version>2.0.5</require_version>

	<require_modules>
		<require_module version="${uiframeworkVersion}">
			org.openmrs.module.uiframework
		</require_module>
		<require_module version="${uicommonsVersion}">
			org.openmrs.module.uicommons
		</require_module>
	</require_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.atomfeed.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<privilege>
		<name>Load Atomfeed config</name>
		<description>Ability to load Atomfeed configuration from file.</description>
	</privilege>

</module>

